<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mazzika">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PlayerActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.myapplication.Play_Sound_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>